.short-details {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  @extend .background-blur;
  @media all and (max-width: 980px) {
    flex-direction: column;
    padding: 24px;
  }

  &__left {
    font-size: 38px;
    @extend .bold;
    @media all and (max-width: 980px) {
      font-size: 28px;
    }
  }

  &__right {
    transform: translateY(40px);
    @media all and (max-width: 980px) {
      transform: translateY(0);
    }
  }

  &__left,
  &__center {
    @media all and (max-width: 980px) {
      margin-bottom: 24px;
    }
  }

  &__center {
    @media all and (max-width: 980px) {
      font-size: 14px;
    }
  }

  &__celsius {
    @extend .celsius;
  }

  &__items {
    display: flex;
    margin-bottom: 10px;
    font-weight: 100;
    @media all and (max-width: 980px) {
      justify-content: center;
    }
  }

  &__title {
    @extend .bold;
    margin-right: 10px;
  }

  &__button {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: #fff;
    letter-spacing: 1.5px;
    @media all and (max-width: 980px) {
      font-size: 14px;
    }
  }
}
