.details {
  @extend .boxed;
  width: 900px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__link {
    color: #fff;
    text-decoration: none;
    display: flex;
    width: fit-content;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 24px 48px;
    @extend .background-blur;
    @media all and (max-width: 980px) {
      flex-direction: column;
      padding: 12px;
    }
  }

  &__items {
    font-weight: 100;
    display: flex;
    @media all and (max-width: 980px) {
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @extend .bold;
    margin-right: 10px;
  }
}
