.page-not-found {
  @extend .boxed;
  overflow: hidden;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__link {
    display: block;
    margin-top: 48px;
    color: #fff;
    line-height: 1.5;
  }
}
