.home {
  height: 100vh;
  @extend .boxed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__title {
    max-width: 500px;
    margin: 24px auto;
    font-weight: 100;
    line-height: 22px;
    @media all and (max-width: 980px) {
      font-size: 14px;
    }

    &--bold {
      @extend .bold;
    }
  }

  &__validation-message {
    margin-bottom: 24px;
    line-height: 22px;
    @extend .bold;
    text-align: center;
    color: #D7163F;
    @media all and (max-width: 980px) {
      font-size: 14px;
    }
  }

  &__actions {
    margin: 0 auto 24px auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;

    &-input {
      position: relative;
      height: 40px;
      width: 68%;
      padding: 0 0 0 12px;
      color: #fff;
      @extend .background-blur;
      border: 1px solid #fff;
      -webkit-appearance: none;
      border-radius: 0;
    }

    &-button {
      width: 30%;
      height: 40px;
      color: #fff;
      border: 1px solid #fff;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      @extend .background-blur;
      transition: background .3s;
      will-change: background;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
        @media all and (max-width: 980px) {
          background: rgba(255, 255, 255, .1);
        }
      }
    }
  }
}
