.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend .centered;
  @media all and (max-width: 980px) {
    width: calc(100% - 32px);
  }

  &__title {
    max-width: 500px;
    margin: 24px auto;
    font-weight: 100;
    line-height: 22px;

    &--bold {
      @extend .bold;
    }
  }

  &__actions {
    margin: 0 auto 24px auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;

    &-input {
      position: relative;
      height: 40px;
      width: 65%;
      padding: 0 0 0 12px;
      color: #fff;
      @extend .background-blur;
      border: 1px solid #fff;
      -webkit-appearance: none;
      border-radius: 0;
      @media all and (max-width: 980px) {
        width: 60%;
      }
    }

    &-button {
      width: 30%;
      height: 42px;
      color: #fff;
      border: 1px solid #fff;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      @extend .background-blur;
      transition: background .3s;
      will-change: background;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
