.home {
  width: 600px;
  padding: 28px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    max-width: 500px;
    margin: 24px auto;
    font-weight: 100;
    line-height: 22px;

    &--bold {
      font-weight: bold;
    }
  }

  &__actions {
    margin: 0 auto 24px auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;

    &-input {
      position: relative;
      height: 40px;
      width: 65%;
      padding-left: 12px;
      color: #fff;
      background: rgba(255, 255, 255, .1);
      backdrop-filter: blur(10px);
      border: 1px solid #fff;
      @media all and (max-width: 980px) {
        width: 60%;
      }
    }

    &-button {
      width: 30%;
      height: 44px;
      color: #fff;
      border: 1px solid #fff;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      transition: background .3s;
      will-change: background;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
