.bold {
  font-weight: bold;
}

.light {
  font-weight: 100;
}

.background-blur {
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
}

.celsius {
   font-family: sans-serif;
 }

.boxed {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 28px 0;
  @media all and (max-width: 980px) {
    width: calc(100% - 32px) !important;
    padding: 56px 0;
  }
}

.no-scroll {
  overflow: hidden;
}

.centralized {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
